/*body background colors and dark mode */
body {
    background: #FFFDE7;
    color: #414141;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dark-mode {
    background: #414141;
    color: #FFFDE7;
}

#light-dark-mode-toggle{
    text-align: center;
    padding-top: .05px;
}

#lightanddark{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 0px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CDDFE3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #CDDFE3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.album-covers{
  width: 125px;
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#album-list {
    display: flex;
    overflow: auto;
}

#album-list img {
  width: 175px;
  height: auto;
  margin: 10px;
}

#album-list img:hover {
  filter: drop-shadow(0 0 0.75rem #414141);
  cursor: pointer;
}

#album-info {
  float: right;
  width: 300px;
  padding: 8px;
  padding-top: auto;
}

#album-info img {
  padding-top: 10px;
}

#artist-description {
  float: left;
  width: 300px;
  padding: 8px;
}

#album-reviews {
  float: left;
  width: 300px;
  padding: 8px;
  padding-top: 0px;
}

#new-review {
  float: left;
  width: 300px;
  padding: 8px;
}

#add-album {
  float: left;
  width: 300px;
  padding: 8px;
}

#add-rating {
  float: left;
  width: 300px;
  padding: 8px;
}

#ratings-combined {
  float: left;
  width: 300px;
  padding: 8px;
}

.input-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-color: #414141;
  background-color: #414141;
  color:#FFFDE7;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #FFFDE7;
  color: #414141;
  border-color: #414141;
}


